@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLES */
:root {
  --hl-color: #3aafa9;
  --hl-color-dark: #2b7a78;
  --near-black: #17252a;
  --fg-color: #feffff;
  --fg-color-darker: #def2f1;
  --link-color: #43acdc;
}

/* CUSTOM CLASSES */
.text-white {
  color: var(--fg-color);
}
.text-black {
  color: var(--near-black);
}
.custom-card-border {
  border: 2px solid var(--hl-color);
}
.darken-image {
  background-color: rgba(0, 0, 0, 0.5);
}

/* GENERAL */
body * {
  border-radius: 0;
  font-family: "Lora", serif;
}
body {
  padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", serif;
}
a {
  color: var(--hl-color-dark);
}
.btn-primary {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--hl-color);
  color: var(--fg-color);
  border: 0;
  transition: background-color 0.5s ease;
}
.btn-primary:hover {
  background-color: var(--hl-color-dark);
}
section h2 {
  margin: 25px 0;
}

/* Navbar */
#navbar {
  background-color: var(--hl-color-dark);
}
#navbar .btn:hover {
  background-color: var(--fg-color);
  color: var(--near-black);
}
/* .offcanvas-body,
.offcanvas-body * {
  background-color: var(--hl-color);
  color: var(--fg-color);
} */
/* Header */
#header {
  background-color: var(--hl-color);
  padding: 2rem 0;
}
#header h1 {
  color: var(--fg-color);
}
#header h2 {
  color: var(--near-black);
  letter-spacing: 1rem;
}
#header .fa-shield-heart {
  font-size: 10rem;
  color: var(--fg-color);
  margin: 15px 0;
}
#header .btn-primary {
  background-color: var(--hl-color-dark);
  transition: 0.5s ease-in-out;
  padding: 4px 20px;
  margin-top: 15px;
}
#header .btn-primary:hover {
  background-color: var(--fg-color);
  color: var(--near-black);

}
/* MAIN */
.card {
  background-color: var(--fg-color-darker);
}
.card-overlay img {
  aspect-ratio: 9 / 4;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-overlay img:hover {
  transform: scale(1.1);
}
.card-header,
.card-footer {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

.card-header a,
.card-footer a {
  color: var(--fg-color);
}
#programmes p {
  font-size: 0.95rem;
}
section .btn {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 10px;
}

/* INFO */
#info .card {
  /* space for button */
  padding-bottom: 29px;
}

/* FOOTER */
footer {
  background-color: var(--hl-color-dark);
  color: var(--fg-color);
  padding: 3rem;
}
footer a {
  color: var(--fg-color-darker);
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: var(--link-color);
}
footer h4 {
  letter-spacing: 0.5rem;
}
#footer .table-dark * {
  background-color: transparent;
}

@media screen and (min-width: 320px) {
  #footer h5 {
    margin-top: 2rem;
  }
  #footer {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  #programmes img {
    border-bottom-left-radius: 0rem !important;
  }
}
