

/* VARIABLES */
:root {
    --hl-color: #3aafa9;
    --hl-color-dark:#2b7a78;
    --near-black: #17252a;
    --fg-color: #feffff;
    --fg-color-darker: #def2f1;
}

/* Navbar */
#navbar {
    background-color: var(--hl-color-dark);
}


/* Header */
#header {
    background-color: var(--hl-color);
    padding: 5rem 0;
}
#header h1 {
    /* font-size: 6rem; */
    color: var(--fg-color);
}
#header h2 {
    color: var(--fg-color);
}

.fa-shield-heart {
    font-size: 10rem;
    color: var(--fg-color-darker);
    margin: 15px 0;
}